* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: grid;
    height: 100vh;
    overflow: hidden;
    grid-template-columns: 200px 1fr;
    grid-template-rows: min-content 1fr min-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    padding: 4px 40px;
    font-size: 18px;
    background-color: black;
    grid-column: 1 / 3;
}

.header__logo {
    display: flex;
    align-items: center;
    width: 170px;
}

.header__title{
    font-size: 16px;
    color: white;
}

.header__navigation{
    margin-left: 40px;
}

.header__search{
    width: 100%;
    min-width: 100px;
    max-width: 500px;
    margin-left: auto;
}

.accordion {
    background-color: #2ebd59;
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    grid-column: 1 / 3;
    padding: 30px 10px;
    font-size: 14px;
}

.footer__subtitle{
    color: white;
}

.footer__navigation{
    color: white;
    display: flex;
    flex-direction: column;
}

.tags{
    list-style: none;
    font-size: 18px;
}

.tag{
    cursor: pointer;
}

.tag:hover {
    color: #606060;
}

.link{
    text-decoration: none;
    color: white;
}

.link:hover {
    text-decoration: underline;
}

.content {
    padding: 10px;
    overflow: scroll;
    background-color: white;
}

.category {
    padding-left: 20px;
    padding-top: 20px;
}

.element {
    position: relative;
    float: left;
    width: 200px;
    height: 300px;
    background-color: #000000;
    overflow: hidden;
    font-family: inherit;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.element:hover {
    background-color: #2ebd59;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2); 
}

.element__container {
    padding: 3px 15px;
}

.element__image{
    width: 100%;
    height: 60%;
    justify-content: center;
}

.element__subtitle {
    color: white;
}

.element__text{
    padding: 5px;
    color: #ffffff;
    font-size: 12px;
}